/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #2e8555;
  --ifm-color-primary-dark: #29784c;
  --ifm-color-primary-darker: #277148;
  --ifm-color-primary-darkest: #205d3b;
  --ifm-color-primary-light: #33925d;
  --ifm-color-primary-lighter: #359962;
  --ifm-color-primary-lightest: #3cad6e;
  --ifm-code-font-size: 95%;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.1);
}

/* For readability concerns, you should choose a lighter palette in dark mode. */
[data-theme='dark'] {
  --ifm-color-primary: #25c2a0;
  --ifm-color-primary-dark: #21af90;
  --ifm-color-primary-darker: #1fa588;
  --ifm-color-primary-darkest: #1a8870;
  --ifm-color-primary-light: #29d5b0;
  --ifm-color-primary-lighter: #32d8b4;
  --ifm-color-primary-lightest: #4fddbf;
  --docusaurus-highlighted-code-line-bg: rgba(0, 0, 0, 0.3);
}


li {
  list-style: none;
}

.markdown li {
  list-style: unset;
}

a:hover {
  text-decoration: none;
}

.theme-doc-sidebar-menu>li:first-child {
  display: none;
  color: red;
  width: 0;
  height: 0;
}


.navbar__logo {
  height: 30px;
  margin-right: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.navbar__logo img {
  margin-top: -8px;
  height: 100%;
}

.theme-doc-sidebar-item-link-level-1>a {
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: #606770;
}

.theme-doc-sidebar-item-category>.menu__list-item-collapsible>a {
  font-weight: 600 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: #606770;
}

.theme-doc-sidebar-item-category-level-2>.menu__list>.theme-doc-sidebar-item-category-level-3>.menu__list-item-collapsible>a {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 22px !important;
  color: #606770;
}

.theme-doc-sidebar-item-link-level-4>a {
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 22px !important;
  color: #606770;
}

.menu__link--active {
  color: #297A4B !important;
}

.ant-select-item-option-active {
  opacity: 1;
  background-color: #74Bc1f !important;
}

.footer {
  background-color: #090909 !important;
}

.footer_box {
  background-color: #090909 !important;
}

.ant-select-item-option-active>.ant-select-item-option-content {
  color: #fff;
}

.theme-doc-sidebar-item-category-level-1>.menu__list {
  border-left: 2px solid #000;
}


.theme-doc-sidebar-item-category-level-2>.menu__list {
  border-left: 1px solid red;
}


.theme-doc-sidebar-item-category-level-3>.menu__list {
  border-left: 1px solid #74Bc1f;
}