@media screen and (min-width: 1350px) {
    .footer {
        position: relative;
    }

    .container {
        margin-top: 50px;
    }

    .footer_box {
        width: 100%;
        height: 60px;
        background-color: rgb(48, 56, 70);
        position: absolute;
        top: 0;
        left: 0;
    }

    .footer_center {
        width: 1300px;
        border-bottom: 1px solid #565656;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_box>.footer_center>.log {
        width: 90px;
        height: 25.64px;
        background: url(/static/Logo.svg) no-repeat;
        background-size: 100%;
    }

    .footer_box>.footer_center>.iconBox {
        width: 300px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_box>.footer_center>.iconBox>.men {
        width: 72px;
        height: 24px;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
    }

    .footer_box>.footer_center>.iconBox>ul {
        width: 180px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_box>.footer_center>.iconBox>ul>li {
        position: relative;
        width: 24px;
        height: 24px;
    }

    .footer_box>.footer_center>.iconBox>ul>li>.iconpg {
        display: block;
        width: 100%;
        height: 100%;

    }

    .a_on4_li:hover .vxMa {
        opacity: 1;
    }

    .vxMa {
        opacity: 0;
        position: absolute;
        background-color: #565656;
        top: -120px;
        left: -38px;
        width: 100px;
        height: 100px;
        background: url(/static/wxma.svg) no-repeat;
        background-size: 100%;
    }

    .a_on5_li:hover .qqMa {
        opacity: 1;
    }

    .qqMa {
        opacity: 0;
        position: absolute;
        top: -120px;
        left: -38px;
        width: 100px;
        height: 100px;
        background: url(/static/QQma.svg) no-repeat;
        background-size: 100%;
    }

    .a_on1 {
        background: url(/static/mingit.svg) no-repeat;
        background-size: 100%;
    }

    .a_on2 {
        background: url(/static/mindis.svg) no-repeat;
        background-size: 100%;
    }

    .a_on3 {
        background: url(/static/mintel.svg) no-repeat;
        background-size: 100%;
    }

    .a_on4 {
        cursor: pointer;
        background: url(/static/minvx.svg) no-repeat;
        background-size: 100%;
    }

    .a_on5 {
        cursor: pointer;
        background: url(/static/minqq.svg) no-repeat;
        background-size: 100%;
    }

    .footer .row {
        width: 600px;
    }
}

.a_on1:hover {
    background: url(/static/gitgreen.svg) no-repeat;
    background-size: 100%;
}

.a_on2:hover {
    background: url(/static/disgreen.svg) no-repeat;
    background-size: 100%;
}

.a_on3:hover {
    background: url(/static/telgreen.svg) no-repeat;
    background-size: 100%;
}

.a_on4:hover {
    background: url(/static/wxgreen.svg) no-repeat;
    background-size: 100%;
}

.a_on5:hover {
    background: url(/static/QQgreen.svg) no-repeat;
    background-size: 100%;
}

@media screen and (max-width: 1350px) and (min-width: 1050px) {
    .footer {
        position: relative;
    }

    .container {
        margin-top: 50px;
    }

    .footer_box {
        width: 100%;
        height: 60px;
        background-color: rgb(48, 56, 70);
        position: absolute;
        top: 0;
        left: 0;
    }

    .footer_center {
        width: 1000px;
        border-bottom: 1px solid #565656;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_box>.footer_center>.log {
        width: 90px;
        height: 25.64px;
        background: url(/static/Logo.svg) no-repeat;
        background-size: 100%;
    }

    .footer_box>.footer_center>.iconBox {
        width: 300px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_box>.footer_center>.iconBox>.men {
        width: 72px;
        height: 24px;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
    }

    .footer_box>.footer_center>.iconBox>ul {
        width: 180px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_box>.footer_center>.iconBox>ul>li {
        position: relative;
        width: 24px;
        height: 24px;
    }

    .footer_box>.footer_center>.iconBox>ul>li>.iconpg {
        display: block;
        width: 100%;
        height: 100%;
    }

    .a_on4_li:hover .vxMa {
        opacity: 1;
    }

    .vxMa {
        opacity: 0;
        position: absolute;
        background-color: #565656;
        top: -120px;
        left: -38px;
        width: 100px;
        height: 100px;
        background: url(/static/association/wei.svg) no-repeat;
        background-size: 100%;
    }

    .a_on5_li:hover .qqMa {
        opacity: 1;
    }

    .qqMa {
        opacity: 0;
        position: absolute;
        top: -120px;
        left: -38px;
        width: 100px;
        height: 100px;
        background: url(/static/association/QQ.svg) no-repeat;
        background-size: 100%;
    }

    .a_on1 {
        background: url(/static/mingit.svg) no-repeat;
        background-size: 100%;
    }

    .a_on2 {
        background: url(/static/mindis.svg) no-repeat;
        background-size: 100%;
    }

    .a_on3 {
        background: url(/static/mintel.svg) no-repeat;
        background-size: 100%;
    }

    .a_on4 {
        cursor: pointer;
        background: url(/static/minvx.svg) no-repeat;
        background-size: 100%;
    }

    .a_on5 {
        cursor: pointer;
        background: url(/static/minqq.svg) no-repeat;
        background-size: 100%;
    }

    .footer .row {
        width: 600px;
    }


}

@media screen and (max-width: 1050px) and (min-width: 750px) {
    .footer {
        position: relative;
    }

    .container {
        margin-top: 50px;
    }

    .footer_box {
        width: 100%;
        height: 60px;
        background-color: rgb(48, 56, 70);
        position: absolute;
        top: 0;
        left: 0;
    }

    .footer_center {
        width: 700px;
        border-bottom: 1px solid #565656;
        height: 100%;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_box>.footer_center>.log {
        width: 90px;
        height: 25.64px;
        background: url(/static/Logo.svg) no-repeat;
        background-size: 100%;
    }

    .footer_box>.footer_center>.iconBox {
        width: 300px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_box>.footer_center>.iconBox>.men {
        width: 72px;
        height: 24px;
        font-size: 18px;
        color: #fff;
        font-weight: 500;
    }

    .footer_box>.footer_center>.iconBox>ul {
        width: 180px;
        height: 24px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer_box>.footer_center>.iconBox>ul>li {
        width: 24px;
        height: 24px;
        position: relative;
    }

    .footer_box>.footer_center>.iconBox>ul>li>.iconpg {
        display: block;
        width: 100%;
        height: 100%;
    }

    .a_on4_li:hover .vxMa {
        opacity: 1;
    }

    .vxMa {
        opacity: 0;
        position: absolute;
        background-color: #565656;
        top: -120px;
        left: -38px;
        width: 100px;
        height: 100px;
        background: url(/static/association/wei.svg) no-repeat;
        background-size: 100%;
    }

    .a_on5_li:hover .qqMa {
        opacity: 1;
    }

    .qqMa {
        opacity: 0;
        position: absolute;
        top: -120px;
        left: -38px;
        width: 100px;
        height: 100px;
        background: url(/static/association/QQ.svg) no-repeat;
        background-size: 100%;
    }

    .a_on1 {
        background: url(/static/mingit.svg) no-repeat;
        background-size: 100%;
    }

    .a_on2 {
        background: url(/static/mindis.svg) no-repeat;
        background-size: 100%;
    }

    .a_on3 {
        background: url(/static/mintel.svg) no-repeat;
        background-size: 100%;
    }

    .a_on4 {
        cursor: pointer;
        background: url(/static/minvx.svg) no-repeat;
        background-size: 100%;
    }

    .a_on5 {
        cursor: pointer;
        background: url(/static/minqq.svg) no-repeat;
        background-size: 100%;
    }

    .footer .row {
        width: 600px;
    }
}